<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href ="static/css/bootstrap.css"/>
    <title>Document</title>
</head>
<body>
    <center  class="mb-3"><h2>Our site</h2></center>
    <div class="container">
        <div class= "row">
            <div class="col">
                <form method="get" action='/register'>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="col">
                <form method="get" action='/login'>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.js"></script>
    
</body>
</html>